<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Quản lý nhân viên</h1>

  <!--Link ra trang mẫu quản lý nhân viên-->
  <link href="css/product.css" rel="stylesheet">
  <div class="import-product-btn">
    <a href="/staff-add">
      <button data-toggle="modal" data-target="#importModal" type="button" class="btn btn-primary">
        <!-- <i class="fas fa-plus"></i> -->
        <i class="fas fa-plus-circle"></i>
        Thêm mới nhân viên
      </button>
    </a>
  </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Danh Sách Nhân Viên</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Email</th>
              <th>Type User</th>
            </tr>
          </thead>
          <tbody>
            <% staff.map (item => {%>
            <tr>
              <td>
                <%= item.name%></td>
              <td><%= item.phone%></td>
              <td><%= item.address%></td>
              <td><%= item.email%></td>
              <% if(item.typeUser==1) {%>
              <td>Admin</td>  
              <%}else {%>
              <td>Staff</td>
              <%}%>

              <td>
                <a href="/staff-edit?id=<%= item._id%>" class="btn btn-warning btn-icon-split">
                  <span class="text">Sửa</span>
                </a>
              </td>
              <td>
                <a class="btn btn-danger btn-icon-split" onclick="confirmDeleteStaff({id:'<%=item._id%>'})">
              <span class="text">Xóa</span>
              </a>
              </td>
            </tr>
            <% })%>
            <!-- </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="confirmDeleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận xóa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="info-modal-message">Bạn có muốn xóa sản phẩm này?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
          <button type="button" class="btn btn-secondary" onclick="deleteStaff()">Có</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  var idStaffDelete = null;
  const confirmDeleteStaff = ({ id }) => {
    const modal = $('#confirmDeleteModal');
    modal.modal('show');
    idStaffDelete = id;
  }

  const deleteStaff = () => {
    const modal = $('#confirmDeleteModal');
    $.ajax({
      url: "/staff-delete",
      type: "delete",
      data: JSON.stringify({ id: idStaffDelete }),
      contentType: "application/json; charset=utf-8",
      dataType: "json"
    })
      .done(function (result) {
        console.log("done!", result)
        const { isSuccess, message } = result;
        location.reload();
      })
      .fail(function (result) {
        console.log("err: ", result)
        const { message } = JSON.parse(result.responseText)

        const modalInfo = $('#inforModal');
        document.getElementById('info-modal-message').innerHTML = message;
        modalInfo.modal('show');
      });



    modal.modal('hide');
  }
</script>
<!-- /.container-fluid -->