<link href="css/product.css" rel="stylesheet">
<div class="import-product-btn">
    <button data-toggle="modal" data-target="#importModal" type="button" class="btn btn-primary">
        <!-- <i class="fas fa-plus"></i> -->
        <i class="fas fa-plus-circle"></i>
        Nhập hàng
    </button>
    <button data-toggle="modal" data-target="#exportModal" type="button" class="btn btn-primary">
        <!-- <i class="fas fa-plus"></i> -->
    <i class="fas fa-minus"></i>
        Xuất hàng
    </button>

</div>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-2 text-gray-800">Quản lý nhập xuất hàng</h1> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên hàng</th>
                            <th>Xuất xứ</th>
                            <th>Loại</th>
                            <th>Số lượng</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tên hàng</th>
                            <th>Xuất xứ</th>
                            <th>Loại</th>
                            <th>Số lượng</th>
                        </tr>
                    </tfoot>
                    <% products.map (item => {%>
                    <tr>
                        <td><%=item.name%></td>
                        <td><%=item.idOrigin.name%></td>
                        <td><%=item.idTypeProduct.name%></td>
                        <td><%=item.quantity%></td>
                    </tr>
                    <% })%>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- Import quantity product-->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm hàng vào kho</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Sản phẩm</label>
                        <select class="form-control" id="import-product">
                            <% products.map (item => { %>
                                    <option value="<%=item._id%>"><%= item.name%></option>
                            <% })%>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                    <div class="form-group input-group mb-3">
                        <input type="number" class="form-control" placeholder="Số lượng" aria-label="Số lượng"
                            id = 'import-quantity'
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">kg</span>
                        </div>
                    </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button  class="btn btn-secondary" type="button" data-dismiss="modal">Đóng</button>
                <a class="btn btn-primary" onclick= "importProduct()">Nhập hàng</a>
            </div>
        </div>
    </div>
</div>

<!-- Export quantity product-->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xuất hàng từ kho</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Sản phẩm</label>
                        <select class="form-control" id="export-product">
                            <% products.map (item => { %>
                            <option value="<%=item._id%>"><%= item.name%></option>
                            <% })%>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-group input-group mb-3">
                            <input type="number" class="form-control" placeholder="Số lượng" aria-label="Số lượng"
                                id='export-quantity' aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">kg</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Đóng</button>
                <a class="btn btn-primary" onclick="exportProduct()">Xuất hàng</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
     function importProduct () {
        const quantity = document.getElementById('import-quantity');
         const idProduct = document.getElementById('import-product');
         console.log("id: ", idProduct,  "-", quantity)
         // close import modal
         const importModal = $('#importModal');

        const modal = $('#inforModal');

          $.ajax({
             url: "/import-product",
             type: "put",
            data: JSON.stringify({ quantity: quantity.value, idProduct: idProduct.value }),
             contentType: "application/json; charset=utf-8",
             dataType: "json"
         })
             .done(function (result) {
                 console.log("done!", result)
                 const { isSuccess, message} = result;
                 importModal.modal('hide')
        
                // open info modal
                // modal.find('[name=info-modal-message]').val(message);
                 document.getElementById('info-modal-message').innerHTML = message;

                modal.modal('show');

                quantity.value="";
             })
             .fail(function (result) { 
                  console.log("err: ", result)
                 const { message } = JSON.parse(result.responseText)
                 importModal.modal('hide')

                  document.getElementById('info-modal-message').innerHTML = message;
                //  modal.find('[name=info-modal-message]').val(message);
                 modal.modal('show');
                 quantity.value = "";

             });
    }

         function exportProduct() {
                const quantity = document.getElementById('export-quantity');
                const idProduct = document.getElementById('export-product');
                console.log("id: ", idProduct, "-", quantity)

                 const exportModal = $('#exportModal');
                // open info modal
                const modal = $('#inforModal');

                $.ajax({
                    url: "/export-product",
                    type: "put",
                    data: JSON.stringify({ quantity: quantity.value, idProduct: idProduct.value }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                })
                    .done(function (result) {
                        console.log("done!", result)
                        const { isSuccess, message } = result;

                        // close import modal
                        exportModal.modal('hide')

                        document.getElementById('info-modal-message').innerHTML = message;

                        modal.modal('show');
                        quantity.value="";
                        
                    })
                    .fail(function (result) {
                        console.log("err: ",result);
                        const {message} = JSON.parse(result.responseText)
                        console.log("err: ", message)
                        // close import modal
                        exportModal.modal('hide')

                        document.getElementById('info-modal-message').innerHTML = message;
                        modal.modal('show');
                        quantity.value = "";

                    });
            }

</script>