<link href="css/product.css" rel="stylesheet">
 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading -->
 
   <h1 class="h3 mb-4 text-gray-800"><a href="javascript:history.back()"><i class="fas fa-arrow-left"></i></a> Chi tiết sản phẩm - <%= product.name %></h1>
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%= product.name%></h6>
      </div>
      <div class="card-body">
        <div class="product-detail__card-info">
          <!-- Price Card  -->
          <div class="col-xl-4 col-md-6 mb-4 product-detail-card">
            <div class="card border-left-success shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Giá</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= product.price%> đ/kg</div>
          
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Type Card  -->
          <div class="col-xl-4 col-md-6 mb-4 product-detail-card">
            <div class="card border-left-info shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Loại</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= product.idTypeProduct.name%></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-mug-hot fa-2x text-gray-300"></i>
                    <!-- <i class="fas fa-clipboard-list fa-2x text-gray-300"></i> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Origin Card-->
          <div class="col-xl-4col-md-10 mb-4 product-detail-card">
            <div class="card border-left-warning shadow h-100 py-2">
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Xuất xứ</div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"><%= product.idOrigin.name%></div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-map fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%= product.description%>
      </div>

      <div class="row product-detail__img">
            <img class="" src="<%= product.img%>" alt="">
      </div>

  </div>
  <!-- /.container-fluid -->
