<link href="css/promotion.css" rel="stylesheet">

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Quản lý khuyến mãi</h1>


    <div class="import-promotion-btn">
      <!-- <i class="fas fa-plus"></i> -->
      <a href="/promotion-add">
      <button type="button" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i>
        Thêm
      </button>
    </a>
    </div>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <!-- <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Danh sách sản phẩm</h6>
    </div> -->

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Tên</th>
              <th>% khuyến mãi</th>
              <th>Ngày bắt đầu</th>
              <th>Ngày kết thúc</th>
              <th>Điểm tích lũy</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% promotions.map (item => {%>
              <tr>
                <td>
                  <%= item.name%></td>
                <td><%= item.discount%>%</td>
                <td><%= item.dateFrom && item.dateFrom.toLocaleDateString()%></td>
                <td><%=  item.dateTo &&  item.dateTo.toLocaleDateString()%></td>
                <td>từ <%= item.minScore%> điểm</td>
                <td><a href="/promotion-edit?id=<%= item._id%>">Sửa</a></td>
                <td class="promotion__btn--delete" onclick="confirmDeletePromotion({id:'<%=item._id%>'})">Xóa</td>
              </tr>
            <% })%>
            <!-- </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
    id="confirmDeleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác nhận xóa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="info-modal-message">Bạn có muốn xóa khuyến mãi này?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
          <button type="button" class="btn btn-secondary" onclick="deletePromotion()">Có</button>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<script type="text/javascript">
  var idPromotionDelete = null;
  const confirmDeletePromotion = ({id}) => {
    const modal = $('#confirmDeleteModal');
    modal.modal('show');
    idPromotionDelete = id;
  }

   const deletePromotion = () => {
      const modal = $('#confirmDeleteModal');
      console.log("idPromotionDelete: ", idPromotionDelete)

       $.ajax({
       url: "/promotion-delete",
       type: "delete",
       data: JSON.stringify({id: idPromotionDelete}),
       contentType: "application/json; charset=utf-8",
       dataType: "json"
     })
       .done(function (result) {
         console.log("done!", result)
         const { isSuccess, message } = result;
         location.reload();
       })
       .fail(function (result) {
         console.log("err: ", result)
         const { message } = JSON.parse(result.responseText)

         const modalInfo = $('#inforModal');
         document.getElementById('info-modal-message').innerHTML = message;
         modalInfo.modal('show');
       });      



      modal.modal('hide');
    }
</script>