<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <form id="form-product" class="needs-validation" novalidate>
        <div class="form-group">
            <label id="validationCustomUsername" for="exampleInputEmail1" class="form-edit-product__label--required">Tên</label>
            <input id="name" type="text" class="form-control" placeholder="Tên sản phẩm" pattern=".{3,}" required
                value="<%= product && product.name%>" id="validationCustomUsername">
            <small id="name-info" class="input-info form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-edit-product__label--required">Giá</label>
            <input id="price" type="number" class="form-control" min="50000" placeholder="Giá 1 kg" required="true"
                value="<%= product && product.price%>">
                <small id="price-info" class="input-info form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-edit-product__label--required">Hình ảnh</label>
            <input id="img" type="text" class="form-control" placeholder="Link hình ảnh" required="true"
                value="<%= product && product.img%>">
                <small id="img-info" class="input-info form-text text-muted"></small>

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" class="form-edit-product__label--required">Loại sản phẩm</label>
            <select id="idTypeProduct" class="form-control" id="exampleFormControlSelect1" required="true">
                <% if (product) {
         types.map (item => {
          if (product.idTypeProduct._id.toString().trim() === item._id.toString().trim()) {%>
                <option selected value="<%=item._id%>"><%= item.name%></option>
                <%} else {%>
                <option value="<%=item._id%>"><%= item.name%></option>
                <%}
          })
          
        } else { 
          types.map (item => {%>
                <option value="<%=item._id%>"><%= item.name%></option>
                <%} )
          } %>
            </select>
             <small id="type-info" class="input-info form-text text-muted"></small>

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" class="form-edit-product__label--required">Nguồn gốc</label>
            <select id="idOrigin" class="form-control" id="exampleFormControlSelect1" required="true">

                <% if (product) {
                   origins.map (item => {
                    if (product.idOrigin._id.toString().trim() === item._id.toString().trim()) {%>
                <option selected value="<%=item._id%>"><%= item.name%></option>
                <%} else {%>
                <option value="<%=item._id%>"><%= item.name%></option>
                <%}
                    })
                    
                  } else { 
                    origins.map (item => {%>
                <option value="<%=item._id%>"><%= item.name%></option>
                <%} )
                    } %>
            </select>
             <small id="origin-info" class="input-info form-text text-muted"></small>

        </div>

        <div class="form-group">
            <label for="exampleInputEmail1" class="form-edit-product__label--required">Mô tả</label>
            <textarea id="description" class="form-control" rows="10">
            <%= product&& product.description.trim()%>
            </textarea>
            <small id="description-info" class="input-info form-text text-muted"></small>
        </div>

    </form>
    <button onclick="handleSubmit()" id="btn-save" type="button" class="btn btn-primary">Lưu</button>
</div>

<script type="text/javascript">

    const clearWaringForm = () => {
        $("#name-info").text("")
        $("#price-info").text("")
        $("#description-info").text("")
        $("#img-info").text("")
    }

    const validateForm = () => {
        clearWaringForm()
        const name = $("#name").val();
        const price = $("#price").val();
        const description = $("#description").val();
        const idTypeProduct = $("#idTypeProduct").val();
        const idOrigin = $("#idOrigin").val();
        const img = $("#img").val();

        if (!name) {
            $("#name-info").text("Vui lòng nhập tên")
            $("#name").focus()
            return false;
        }

        if (!price) {
            $("#price-info").text("Vui lòng nhập giá")
            $("#price").focus()
            return false;
        } else if (price < 50000) {
            $("#price-info").text("Giá phải lớn hơn 50.000đ")
            $("#price").focus()
            return false
        }

        if (!img) {
            $("#img-info").text("Vui lòng nhập link hình ảnh")
            $("#img").focus()
            return false;
        }

        if (!description) {
            $("#description-info").text("Vui lòng nhập mô tả")
            $("#description").focus()
            return false;
        } else if (description.length < 50) {
            $("#description-info").text("Vui lòng nhập mô tả dài hơn 30 ký tự")
            $("#description").focus()
            return false
        }
        return true
    }
</script>