<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <!-- <link rel="shortcut icon" href="img/play-icon.png"> -->
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Coffee</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/staff/index.css">
</head>

<body>
    <% include ../admin/elements/topbar %>
    <% let productPayment = []%>
    <!-- Start Product Header -->
    <section>
        <div class="container">
            <div class="row d-flex justify-content-center">

                <div class="title text-center">
                    <h1 class="mt-4">Bán hàng</h1>
                </div>

            </div>
        </div>
    </section>
    <!-- End Product Header -->

    <section class="list-product">
        <div class="container-fluid">
            <div class="row">
                <!-- Search -->
                <div class="col-lg-5 col-md-5 ml-3 mb-3">
                    <div class="d-none d-sm-inline-block form-inline w-100">
                        <div class="input-group">
                            <input id="search" type="text" class="form-control bg-light border-0 small"
                                style="border-top-left-radius: 20px; border-bottom-left-radius: 20px;"
                                placeholder="Nhập tên sản phẩm..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button id="btn-search" class="btn btn-primary" type="button" onclick="handleSearch()">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row content">
                <div class="col-lg-6 col-md-6" id="products">
                    <% products.map(item => {%>
                    <div class="single-blog">
                        <div class="single-menu">
                            <img class="img-fluid" src="<%=item.img%>" alt="">
                            <div class="div-content">
                                <div class="title-div justify-content-between d-flex">
                                    <h5><%= item.name%></h5>
                                    <p class="price float-right">
                                        <%= item.price%>
                                    </p>
                                </div>
                                <p>
                                    <%= item.description%>
                                </p>
                                <ul class="post-tags">
                                    <li><button id="order-product"
                                            onclick="orderProduct({_id: '<%=item._id%>', name: '<%=item.name%>',price: '<%=item.price%>', typeName :'<%=item.idTypeProduct.name%>', quantity: '<%=item.quantity%>' });">Đặt
                                            hàng</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="card shadow mb-4" style="margin-top: 10px;">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Thanh toán</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="table-product" class="table table-bordered" width="100%" cellspacing="0">
                                    <button style="margin-right: 10%; font-size: 10px; margin-bottom: 10px;"
                                        onclick="handleDeleteData()" class="btn btn-primary ">
                                        <i class="fas fa-trash-alt"></i>
                                        Xóa dữ liệu</button>
                                    <thead>
                                        <tr>
                                            <th>Tên sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Loại</th>
                                            <th style="width: 100px;">Số lượng</th>
                                            <th>Số lượng trong kho</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <button data-toggle="modal" data-target="#modal-payment" onclick="handlePayment()"
                                class="btn btn-primary btn-payment">
                                <i class="fas fa-shopping-cart"></i>
                                Tiến hành thanh toán</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- payment modal-->
    <div class="modal fade" id="modal-payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thanh toán</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="info-bill">
                        <table id="table-payment" class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Loại</th>
                                    <th style="width: 100px;">Số lượng</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="row info-customer w-100 mt-3">
                        <div class="col-lg-7 col-md-7">
                            <div>
                                <h6 class="mb-3">Nhập số điện thoại khách hàng</h6>
                                <div class="form-group input-group" style="margin-bottom: 0;">
                                    <input type="text" placeholder="Nhập số điện thoại" aria-label="Số điện thoại"
                                        id='tel-customer-search' class="form-control bg-light border-0 small"
                                        style="border-top-left-radius: 20px; border-bottom-left-radius: 20px;"
                                        aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button id="btn-tel-search" class="btn btn-primary" type="button"
                                            onclick="handleTelSearch()">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                                <span
                                    style="color: red; font-size: 12px; font-style: initial;padding: 10px; line-height: 2;"
                                    class="message-err-tel"></span>
                            </div>
                            <h6 class="mb-3 title-customer">Tạo thành viên</h6>
                            <div class="form-group input-group" style="margin-bottom: 0;">
                                <input type="tel" pattern="[0,9]{10}" class="form-control" placeholder="Số điện thoại"
                                    aria-label="Số điện thoại" id='tel-customer'>
                            </div>
                            <span style="color: red; margin-left: 10px; font-size: 12px; font-style: initial;"
                                class="message-err-tel-create"></span>
                            <div class="form-group input-group ">
                                <input type="text" class="form-control" placeholder="Tên khách hàng"
                                    aria-label="Tên khách hàng" id='name-customer'>
                            </div>
                            <div class="form-group input-group ">
                                <input type="email" class="form-control" placeholder="Email" aria-label="Email"
                                    id='email-customer'>
                            </div>
                            <div class="form-group input-group ">
                                <input type="number" class="form-control" placeholder="Điểm" aria-label="score"
                                    id='score-customer' disabled style="display: none;">
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 tag">
                            <h5>Tổng tiền</h5>
                            <span id="total" class="tag-number">0 VND</span>
                            <h5>Khuyến mãi</h5>
                            <span id="promotion" class="tag-number">0 %</span>
                            <div id="tag-money" style="display: none;">
                                <h5>Thành tiền</h5>
                                <span id="total-discount" class="tag-number">0 VND</span>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: right;">
                        <button id="btn-close" class="btn " type="button" data-dismiss="modal">Đóng</button>
                        <button id="btn-pay" type="submit" class="btn" onclick="handleBtnPayModal()">Thanh
                            toán</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal notification err/ success -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
        id="inforModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="info-modal-message">Thành công</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

    <!-- handle javascript -->
    <script type="text/javascript">

        $(document).ready(() => {
            $('.price').get().map(item => {
                item.innerHTML = handleCurrency(item.innerText) + " VND"
            })
        })

        $('#modal-payment').on('hidden.bs.modal', function (e) {
            $("#table-payment").find('tbody').find('tr').remove();
        });

        const checkPhoneNumber = (string) => {
            return string.match(/\d{10}/) || string.match(/\d{11}/);
        }

        //handle enter button search
        const input = document.getElementById("search");
        input.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("btn-search").click();
            }
        });

        //handle enter button search customer by phone
        const inputTel = document.getElementById("tel-customer-search");
        inputTel.addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                document.getElementById("btn-tel-search").click();
            }
        });

        // delele data table 
        const handleDeleteData = () => {
            $("#table-product").find('tbody').find('tr').remove();
            document.getElementById('tel-customer-search').value = '';
            document.getElementById('name-customer').value = '';
            document.getElementById('tel-customer').value = '';
            document.getElementById('email-customer').value = '';
            document.getElementById('score-customer').value = '';
            document.getElementById('total').innerHTML = 0 + ' VND';
            document.getElementById('promotion').innerHTML = 0 + ' %';
            document.getElementById('total-discount').innerHTML = 0 + ' VND';
            document.getElementById('tag-money').style.display = 'none';

        }

        //parse string to VND
        const handleCurrency = (number) => {
            return parseFloat(number).toFixed(1).replace(/\d(?=(\d{3})+\.)/g, '$&,');
        }

        //parse VND to string
        const parseCurrency = (string) => {
            return parseFloat(string.split(',').join(''))
        }

        //render list product 
        const renderListProduct = (result) => {
            const { products } = result
            console.log(products)
            var html = '';
            if (products.length === 0) {
                html = '<span style="color: #b68834; font-style: initial; margin-left: 15px;">Không tìm thấy sản phẩm</span>';
            }
            else {
                products.map(item => {
                    html +=
                        `<div class="single-blog"><div class="single-menu">` +
                        `<img class="img-fluid" src="${item.img}" alt=""> ` +
                        `<div class="div-content"><div class="title-div justify-content-between d-flex">` +
                        `<h5>${item.name}</h5><p class="price float-right"> ${handleCurrency(item.price)} VND</p>` +
                        `</div> <p>${item.description}</p><ul class="post-tags">` +
                        `<li><button id="order-product" onclick="orderProduct({_id: '${item._id}', name: '${item.name}', price: '${item.price}', typeName: '${item.idTypeProduct.name}', quantity: '${item.quantity}'})">Đặt hàng</button>` +
                        `</li></ul></div></div></div>`;
                })
            }
            $('#products').html(html);
        }


        //handle button order product
        const orderProduct = ({ _id, name, price, typeName, quantity }) => {
            // let product = JSON.parse(item)
            if (document.getElementById(_id)) {
                if (+document.getElementById(_id).value < +quantity)
                    document.getElementById(_id).value++;
                else {
                    document.getElementById('info-modal-message').innerHTML = "Số lượng hàng không đủ.";
                    $('#inforModal').modal('show')
                }
            }
            else {
                $("#table-product").find('tbody').append(`
                <tr>
                <td>${name}</td>
                <td>${handleCurrency(price)}</td>
                <td>${typeName}</td>
                <td><input id=${_id} type="number" name="number" min="0" max="${quantity}" value="1" style="width: 50px;"/></td>
                <td style="display: none;">${_id}</td>
                <td>${quantity}</td>
                </tr>`);
            }
        }

        //handle button payment
        const handlePayment = () => {

            let total = 0;
            const obj = $('#table-product tbody tr').map(function () {

                const $row = $(this);

                total += (parseCurrency($row.find(':nth-child(2)').text()) * $row.find(":nth-child(4) input[type='number']").val())
                if ($row.find(":nth-child(4) input[type='number']").val() > 0) {
                    $("#table-payment").find('tbody').append(`
                <tr >
                <td>${$row.find(':nth-child(1)').text()}</td>
                <td>${$row.find(':nth-child(2)').text()}</td>
                <td>${$row.find(':nth-child(3)').text()}</td>
                <td>${$row.find(":nth-child(4) input[type='number']").val()}</td></tr>`)
                }
            });
            if (total <= 0) {
                document.getElementById('btn-pay').setAttribute("disabled", "disabled");
                document.getElementById("tag-money").style.display = 'none';
            }
            else {
                document.getElementById("total").innerHTML = handleCurrency(total) + " VND";
                document.getElementById('btn-pay').removeAttribute("disabled");
                const discount = document.getElementById('promotion').innerText.split(' ')[0]
                if (discount > 0) {
                    document.getElementById('total').style.textDecoration = 'line-through';
                    document.getElementById('tag-money').style.display = 'block';
                    const totalDiscount = handleCurrency((parseCurrency(document.getElementById('total').innerText) * (100 - discount) / 100).toFixed(2))
                    document.getElementById('total-discount').innerText = totalDiscount + ' VND'
                }
            }
        }

        //handle button payment on modal
        const handleBtnPayModal = () => {
            const inforModal = $('#inforModal');
            const modal = $('#modal-payment');

            const obj = $('#table-product tbody tr').map(function () {
                const $row = $(this);
                return {
                    price: parseCurrency($row.find(':nth-child(2)').text()),
                    quantity: $row.find(":nth-child(4) input[type='number']").val(),
                    _id: $row.find(':nth-child(5)').text(),
                }
            });

            if (document.getElementById('tel-customer').value) {
                if (!checkPhoneNumber(document.getElementById('tel-customer').value)) {
                    document.getElementsByClassName('message-err-tel-create')[0].innerText = "Số điện thoại sai định dạng."
                    return;
                }
                else {
                    document.getElementsByClassName('message-err-tel-create')[0].innerText = ""
                }
            }

            const customer = {
                name: document.getElementById('name-customer').value,
                phone: document.getElementById('tel-customer').value,
                email: document.getElementById('email-customer').value,
            }
            const discount = document.getElementById('promotion').innerText.split(' ')[0]
            const total = (100 - discount) / 100 * parseCurrency(document.getElementById('total').innerText)
            $.ajax({
                url: "/home-staff",
                type: "POST",
                data: JSON.stringify({ products: obj.get(), customer, total }),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            })
                .done(function (result) {
                    const { isSuccess, message } = result;
                    // modal.find('[name=info-modal-message]').val(message);
                    document.getElementById('info-modal-message').innerHTML = message;
                    handleDeleteData();
                    modal.modal('hide');
                    inforModal.modal('show');
                    // window.location.reload(true);
                    renderListProduct(result)

                })
                .fail(function (result) {
                    const { message } = JSON.parse(result.responseText)
                    document.getElementById('info-modal-message').innerHTML = message;
                    //  modal.find('[name=info-modal-message]').val(message);
                    modal.modal('hide');
                    inforModal.modal('show');
                })
        }

        //hanlde button search
        const handleSearch = () => {
            const text = document.getElementById('search').value;

            $.ajax({
                url: `/home-staff/get-product?text=${text}`,
                type: "GET",
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (result) {
                renderListProduct(result)
            })
                .fail(function (result) {
                    $("#products").html("<div><h3>Không tìm thấy sản phẩm</h3></div>")
                    $("#products").find('.single-blog').remove();
                })
        }

        //handle search customer by phone
        const handleTelSearch = () => {
            const phone = document.getElementById('tel-customer-search').value;
            if (phone === null || phone.length === 0) {
                document.getElementsByClassName('message-err-tel')[0].innerText = "Vui lòng nhập số điện thoại"
            }
            else {
                if (!checkPhoneNumber(phone))
                    document.getElementsByClassName('message-err-tel')[0].innerText = "Số điện thoại sai định dạng."
                else {
                    document.getElementsByClassName('message-err-tel')[0].innerText = "";

                    $.ajax({
                        url: `/home-staff/customer?phone=${phone}`,
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json"
                    })
                        .done(function (result) {
                            const { customer, promotion } = result
                            if (customer.length === 0) {
                                document.getElementsByClassName('title-customer')[0].innerText = "Tạo thành viên"
                                document.getElementsByClassName('message-err-tel')[0].innerText = "Không tìm thấy số điện thoại"
                            }
                            else {
                                document.getElementsByClassName('title-customer')[0].innerText = "Thông tin thành viên"
                                document.getElementById('score-customer').style.display = "block"
                                document.getElementById('name-customer').value = customer.name;
                                document.getElementById('tel-customer').value = customer.phone;
                                document.getElementById('email-customer').value = customer.email;
                                document.getElementById('score-customer').value = customer.score;

                                if (promotion.length > 0) {
                                    document.getElementById('promotion').innerText = promotion[0].discount + ' %';
                                    document.getElementById('total').style.textDecoration = 'line-through';
                                    document.getElementById('tag-money').style.display = 'block';
                                    const total = handleCurrency((parseCurrency(document.getElementById('total').innerText) * (100 - promotion[0].discount) / 100).toFixed(2))
                                    document.getElementById('total-discount').innerText = total + ' VND'

                                }
                            }
                        })
                        .fail(function (result) {
                            const { message } = JSON.parse(result.responseText)
                            document.getElementsByClassName('create-customer')[0].style.display = 'block'
                            document.getElementsByClassName('info-customer-search')[0].style.display = 'none'
                            document.getElementsByClassName('message-err-tel')[0].innerText = message
                        })
                }
            }

        }

    </script>
</body>

</html>