<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Coffee</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="css/linearicons.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/staff/index.css">
</head>

<body>

    <% let productPayment = []%>
    <!-- Start Product Header -->
    <section>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-10">
                    <div class="title text-center">
                        <h1 class="mb-10">Danh sách sản phẩm</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Product Header -->

    <section class="list-product">
        <div class="container-fluid">
            <div class="row">
                <!-- Search -->
                <div class="col-lg-5 col-md-5 ml-3 mb-5">
                    <form class="d-none d-sm-inline-block form-inline w-100">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <% data.map(item => {%>
                    <div class="single-blog">
                        <div class="single-menu">
                            <img class="img-fluid" src="<%=item.img%>" alt="">
                            <div class="div-content">
                                <div class="title-div justify-content-between d-flex">
                                    <h4><%= item.name%></h4>
                                    <p class="price float-right">
                                        <%= item.price%>VND
                                    </p>
                                </div>
                                <p>
                                    <%= item.description%>
                                </p>
                                <ul class="post-tags">
                                    <li><button id="order-product"
                                            onclick="orderProduct('<%=JSON.stringify(item)%>');">Đặt
                                            hàng</button></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <%})%>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Thanh toán</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="table-payment" class="table table-bordered" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Tên sản phẩm</th>
                                            <th>Giá</th>
                                            <th>Loại</th>
                                            <th style="width: 100px;">Số lượng</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <button class="btn btn-primary btn-payment" onclick="handlePayment()">Tiến hành thanh
                                toán</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
    <script src="js/easing.min.js"></script>
    <script src="js/hoverIntent.js"></script>
    <script src="js/superfish.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/parallax.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="js/main.js"></script>


    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
    <!-- handle javascript -->
    <script type="text/javascript">
        const orderProduct = (item) => {
            let product = JSON.parse(item)
            if (document.getElementById(product.id)) {
                const id = document.getElementById(product.id).value++;
            }
            else {
                $("#table-payment").find('tbody').append(`
                <tr >
                <td>${product.name}</td>
                <td>${product.price}</td>
                <td>loại</td>
                <td><input id=${product.id} type="number" name="number" value="1" style="width: 50px;"/></td></tr>`);
            }
        }
        const handlePayment = () => {
            const obj = $('#table-payment tbody tr').map(function () {
                const $row = $(this);
                return {
                    name: $row.find(':nth-child(1)').text(),
                    price: $row.find(':nth-child(2)').text(),
                    type: $row.find(':nth-child(3)').text(),
                    quantity: $row.find(":nth-child(4) input[type='number']").val()
                }});
            console.log(obj.get())
        }
    </script>
</body>

</html>